<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="profstep" translate="label" sortOrder="10">
            <label>ProfStep</label>
        </tab>
        <section id="messenger" translate="label" sortOrder="10" showInWebsite="1">
            <label>Messenger</label>
            <tab>profstep</tab>
            <resource>ProfStep_Messages::messenger</resource>
            <group id="config" translate="label" sortOrder="10" showInWebsite="1">
                <label>Messenger config</label>
                <field id="enabled" type="select" sortOrder="10" showInWebsite="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>It work per website scope.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
